@import '../../scss/variables';

.navbar {
	height: $navbarHeight;
	background-color: $primaryColor;

	.container {
		max-width: 800px;
		margin: 0 auto;
		padding: 0 10px;

		&.flex {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;

			a {
				color: $primaryTextColor;

				.logo {
					font-size: 32px;
				}
			}
		}
	}
}
