.container {
	max-width: 800px;
	margin: 10px auto;
	padding: 0 10px;
}

.flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.item {
	margin: 10px 10px 20px;
}

.content {
	text-align: justify;
	margin-bottom: 10px;
}
