// Color
$primaryColor: #242582;
$secondaryColor: #f64c72;
$darkColor: #333;
$lightColor: #fff;
$primaryBgcTextColor: $lightColor;
$secondaryBgcTextColor: $lightColor;

// Size
$navbarHeight: 70px;
$footerHeight: 60px;
$blogCardWidth: 480px;
