@import './variables';
@import './reboot';

// Navbar
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: $primaryColor;
	color: $primaryBgcTextColor;
	height: $navbarHeight;
}

.navbar .grid {
	grid-template-columns: 1.8fr repeat(2, 1fr);
	gap: 40px;
}

.navbar h1 {
	justify-self: flex-start;
	margin: 10px;
}

.navbar nav ul {
	justify-content: space-between;
}

.navbar a {
	color: $primaryBgcTextColor;
}

.navbar nav a {
	padding: 10px;
}

.navbar nav a:hover {
	border-bottom: 2px $primaryBgcTextColor solid;
}

.navbar .grid > ul {
	justify-content: space-between;
}

.navbar .grid > ul .btn {
	margin: 10px;
}

// Blog
.blog h1 a,
.blog h5 a {
	color: $primaryColor;
}

.blog h1 a:hover,
.blog h5 a:hover {
	border-bottom: 2px $primaryColor solid;
}

// Post
.post .container {
	max-width: 740px;
}

.post .card {
	min-height: 400px;
}

.post h1 {
	font-size: 40px;
}

.post h5 a {
	color: $primaryColor;
}

.post h5 a:hover {
	border-bottom: 2px $primaryColor solid;
}

// Footer
.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: $primaryColor;
	color: $primaryBgcTextColor;
	height: $footerHeight;
}

.footer a {
	color: $secondaryColor;
}

.footer a:hover {
	border-bottom: 2px $secondaryColor solid;
}

@import './utilities';
